.project-card {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
    margin: 50px 0px;
}

.project-card img {
    width: 100%;
    border: 0.5 solid black;
    border-radius: 1rem;
}

.tagsDiv {
    display: flex;
    flex-wrap: wrap;
}

.tagsDiv>span {
    font-weight: bold;
    margin-right: 10px;
}

.project-tech-stack {
    color: skyblue;
}

.linksDiv {
    margin: 20px 0px;
}

.linksDiv>a {
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 50px;
}

.linksDiv>a>i {
    margin: 0px 5px;
}

.linksDiv>a:first-child {
    background-color: grey;
}

.linksDiv>a:last-child {
    background-color: royalblue;
}