.contact-section {
    width: 90%;
    margin: auto;
    padding: 20px;
    border-top: 2px solid rgb(222, 220, 220);
}

.contact-cards-div {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin: 50px 0px;
}