@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar {
    position: sticky;
    top: 0px;
    font-style: italic;
    background-image: url('../../assets/img/portfolio-bg.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px teal;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

#logo {
    font-family: 'Lobster', cursive;
}

.nav-links-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

a.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a.nav-link:hover {
    cursor: pointer;
    color: skyblue;
    border-bottom: 3px solid skyblue;
    padding-bottom: 10px;
}

#resume-button-1 a {
    background-color: teal;
    border-radius: 1.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    border: 1px solid rgb(0, 95, 95);
}

#resume-button-1 a:hover {
    background-color: rgb(4, 120, 120);
    box-shadow: 0 0 20px teal;
}